In [22]:
my_list = []

print(type(my_list))

<class 'list'>

In [23]:
my_list.append(22)
my_list

[22]

In [24]:
my_list.append('ted')
my_list

[22, 'ted']

In [25]:
my_list.remove('ted')
my_list

[22]

In [26]:
len(my_list)

1

In [27]:
my_list[0]

22

In [28]:
my_list.append(range(1,10))

In [29]:
my_list

[22, range(1, 10)]

In [30]:
for i in my_list:
    print(type(i))

<class 'int'>
<class 'range'>

In [31]:
my_list += [1,2,3] # this will change the value of my_list[]
my_list

[22, range(1, 10), 1, 2, 3]

In [34]:
print(my_list * 2) # does not permanenently change my_list
my_list

[22, range(1, 10), 1, 2, 3, 22, range(1, 10), 1, 2, 3]

[22, range(1, 10), 1, 2, 3]

In [35]:
# pop method, default takes off the last element, but you can spec which one to remove
my_list2 = my_list.copy()
my_list2
my_list2.pop(1) # get rid of the range...
my_list2

[22, 1, 2, 3]

In [40]:
my_list2.sort()
my_list2

[1, 2, 3, 22]

In [41]:
my_list2.reverse()
my_list2

[22, 3, 2, 1]

In [42]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
matrix = [l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
matrix[0][:2]

[1, 2]

## list comprehensions

In [49]:
# get the first value of each list in matrix
f_col = [x[0] for x in matrix]
f_col  # Boom!!

[1, 4, 7]