In [1]:
s = 'String'

print("place my variable here: %s" % (s))

place my variable here: String

In [2]:
print("floating point number: %1.2f" % (13.145))

floating point number: 13.14

In [3]:
print("convert to a string: %s" % (123))

convert to a string: 123

In [4]:
print("first: %s, second: %s, third: %s" % ('ted', 'is', 57))

first: ted, second: is, third: 57

In [5]:
# format method
print("first: {x}, second: {x}".format(x=100)) # same value in two locations

first: 100, second: 100

In [6]:
print("first: {x}, second: {y}".format(x=100, y='ted')) # variable name insertion

first: 100, second: ted

In [7]:
print("first: {}, second: {}".format(100,'ted')) # blank parenthesis = positional insertion

first: 100, second: ted

In [8]:
# variable assignment and position
print("first: {x}, second: {y}, third: {x}".format(x=100,y='ted'))

first: 100, second: ted, third: 100